/* http://webdesignerwall.com/tutorials/css3-gradient-buttons */
/* line 2, ../../app/stylesheets/buttons.scss */
.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* gray */
  /* white */
}
/* line 22, ../../app/stylesheets/buttons.scss */
.button:hover:not([disabled]) {
  text-decoration: none;
}
/* line 25, ../../app/stylesheets/buttons.scss */
.button:active:not([disabled]) {
  position: relative;
  top: 1px;
}
/* line 30, ../../app/stylesheets/buttons.scss */
.button.bigrounded {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
/* line 35, ../../app/stylesheets/buttons.scss */
.button.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
/* line 39, ../../app/stylesheets/buttons.scss */
.button.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}
/* line 44, ../../app/stylesheets/buttons.scss */
.button.black {
  color: #fff;
  border: solid 1px #333;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(black));
  background: -moz-linear-gradient(top, #666666, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
/* line 52, ../../app/stylesheets/buttons.scss */
.button.black:hover:not([disabled]) {
  background: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(black));
  background: -moz-linear-gradient(top, #444444, black);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
/* line 58, ../../app/stylesheets/buttons.scss */
.button.black:active:not([disabled]) {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(#444444));
  background: -moz-linear-gradient(top, black, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}
/* line 64, ../../app/stylesheets/buttons.scss */
.button.black[disabled] {
  background: #888;
}
/* line 69, ../../app/stylesheets/buttons.scss */
.button.gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#575757));
  background: -moz-linear-gradient(top, #888888, #575757);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
/* line 77, ../../app/stylesheets/buttons.scss */
.button.gray:hover {
  background: #616161;
  background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
  background: -moz-linear-gradient(top, #757575, #4b4b4b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
/* line 83, ../../app/stylesheets/buttons.scss */
.button.gray:active {
  color: #afafaf;
  background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888888));
  background: -moz-linear-gradient(top, #575757, #888888);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}
/* line 91, ../../app/stylesheets/buttons.scss */
.button.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background: -moz-linear-gradient(top, white, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
/* line 99, ../../app/stylesheets/buttons.scss */
.button.white:hover {
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dcdcdc));
  background: -moz-linear-gradient(top, white, #dcdcdc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
/* line 105, ../../app/stylesheets/buttons.scss */
.button.white:active {
  color: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(white));
  background: -moz-linear-gradient(top, #ededed, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
