/* line 17, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../gems1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* GAME LIST */
/* line 4, ../../app/stylesheets/game-list.scss */
ul.game-list {
  list-style-type: none;
}

/* line 7, ../../app/stylesheets/game-list.scss */
ul.game-list > li {
  width: 100%;
  margin: 10px 0;
}

/* line 11, ../../app/stylesheets/game-list.scss */
ul.game-list > li a {
  display: block;
  border: 1px solid #359;
  padding: 5px;
  text-decoration: none;
  color: #333;
  background-color: #def;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ddeeff), color-stop(100%, #aabbdd));
  background-image: -webkit-linear-gradient(#ddeeff, #aabbdd);
  background-image: -moz-linear-gradient(#ddeeff, #aabbdd);
  background-image: -o-linear-gradient(#ddeeff, #aabbdd);
  background-image: linear-gradient(#ddeeff, #aabbdd);
}

/* line 21, ../../app/stylesheets/game-list.scss */
ul.game-list > li a:hover {
  padding: 5px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ddeeff));
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ddeeff));
  background-image: -webkit-linear-gradient(#ffffff, #ddeeff);
  background-image: -moz-linear-gradient(#ffffff, #ddeeff);
  background-image: -o-linear-gradient(#ffffff, #ddeeff);
  background-image: linear-gradient(#ffffff, #ddeeff);
}

/* line 29, ../../app/stylesheets/game-list.scss */
.game-list-pfpic {
  float: left;
  margin: 0 10px;
}

/* line 34, ../../app/stylesheets/game-list.scss */
.game-name {
  font-weight: bold;
}

/* line 37, ../../app/stylesheets/game-list.scss */
.game-private-label {
  font-style: italic;
}

/* line 40, ../../app/stylesheets/game-list.scss */
.creator-name {
  font-weight: bold;
}

/* line 43, ../../app/stylesheets/game-list.scss */
.game-player {
  font-weight: bold;
}

/* line 46, ../../app/stylesheets/game-list.scss */
.friend-name {
  color: #22227c;
}

/* RECENT GAMES */
/* line 51, ../../app/stylesheets/game-list.scss */
ul.game-record-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 55, ../../app/stylesheets/game-list.scss */
ul.game-record-list > li {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

/* PLAY */
/* line 5, ../../app/stylesheets/game-play.scss */
body.game-over .game {
  background-color: #ddd;
}

/* line 8, ../../app/stylesheets/game-play.scss */
.when-game-over {
  display: none;
}

/* line 11, ../../app/stylesheets/game-play.scss */
body.game-over .when-game-over {
  display: inherit;
}

/* TILES */
/* line 16, ../../app/stylesheets/game-play.scss */
ul.tiles {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 21, ../../app/stylesheets/game-play.scss */
ul.tiles li {
  display: inline-block;
  width: 17px;
  height: 17px;
  /*margin: 1px;*/
  background-color: #ffb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffbb), color-stop(100%, #cccc88));
  background-image: -webkit-linear-gradient(#ffffbb, #cccc88);
  background-image: -moz-linear-gradient(#ffffbb, #cccc88);
  background-image: -o-linear-gradient(#ffffbb, #cccc88);
  background-image: linear-gradient(#ffffbb, #cccc88);
  border: 1px solid #986;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 33, ../../app/stylesheets/game-play.scss */
ul.tiles li.unseen {
  background-color: #eed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeedd), color-stop(100%, #ccccbb));
  background-image: -webkit-linear-gradient(#eeeedd, #ccccbb);
  background-image: -moz-linear-gradient(#eeeedd, #ccccbb);
  background-image: -o-linear-gradient(#eeeedd, #ccccbb);
  background-image: linear-gradient(#eeeedd, #ccccbb);
}

/* MESSAGES */
/* line 40, ../../app/stylesheets/game-play.scss */
#message-area, #chat, #claimword, #definition {
  /* All boxes */
  border: 1px solid #ccc;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  background: #fff;
}

/* line 46, ../../app/stylesheets/game-play.scss */
#message-area {
  overflow: auto;
  height: 200px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 52, ../../app/stylesheets/game-play.scss */
#messages {
  list-style-type: none;
  margin: 3px;
  padding: 0;
}

/* line 57, ../../app/stylesheets/game-play.scss */
#messages li {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-indent: -15px;
}

/* line 64, ../../app/stylesheets/game-play.scss */
#messages li.failed {
  color: #944;
  font-style: italic;
}

/* line 68, ../../app/stylesheets/game-play.scss */
#messages li.claimed {
  color: #000;
  background-color: #efd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeffdd), color-stop(100%, #bbeeaa));
  background-image: -webkit-linear-gradient(#eeffdd, #bbeeaa);
  background-image: -moz-linear-gradient(#eeffdd, #bbeeaa);
  background-image: -o-linear-gradient(#eeffdd, #bbeeaa);
  background-image: linear-gradient(#eeffdd, #bbeeaa);
}

/* line 73, ../../app/stylesheets/game-play.scss */
#messages li.chat {
  color: #000;
  background-color: #ffffac;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffac), color-stop(100%, #fff54d));
  background-image: -webkit-linear-gradient(#ffffac, #fff54d);
  background-image: -moz-linear-gradient(#ffffac, #fff54d);
  background-image: -o-linear-gradient(#ffffac, #fff54d);
  background-image: linear-gradient(#ffffac, #fff54d);
}

/* PLAYERS */
/* line 80, ../../app/stylesheets/game-play.scss */
ul.player-words {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 85, ../../app/stylesheets/game-play.scss */
ul.player-words > li {
  display: inline-block;
  margin: 2px 8px;
  padding: 2px;
  /*border: 1px solid #ccc;*/
}

/* line 91, ../../app/stylesheets/game-play.scss */
.highlighted {
  background-color: #fc9;
}

/* line 94, ../../app/stylesheets/game-play.scss */
.highlighted ul.tiles li {
  background-color: transparent;
}

/* line 97, ../../app/stylesheets/game-play.scss */
#pool {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
  margin: 5px 0;
  padding: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background-color: #efc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeffcc), color-stop(100%, #bbddbb));
  background-image: -webkit-linear-gradient(#eeffcc, #bbddbb);
  background-image: -moz-linear-gradient(#eeffcc, #bbddbb);
  background-image: -o-linear-gradient(#eeffcc, #bbddbb);
  background-image: linear-gradient(#eeffcc, #bbddbb);
  border: 1px solid #393;
}

/* line 108, ../../app/stylesheets/game-play.scss */
#pool > div {
  padding: 10px;
}

/* line 111, ../../app/stylesheets/game-play.scss */
#pool #pool-info {
  margin: 10px 10px 0 10px;
}

/* line 114, ../../app/stylesheets/game-play.scss */
.player-info {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ccc;
  margin: 5px 0;
  padding: 5px 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

/* line 122, ../../app/stylesheets/game-play.scss */
.player-info .username {
  font-weight: bold;
}

/* line 125, ../../app/stylesheets/game-play.scss */
.active-player {
  background-color: #efc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeffcc), color-stop(100%, #bbddbb));
  background-image: -webkit-linear-gradient(#eeffcc, #bbddbb);
  background-image: -moz-linear-gradient(#eeffcc, #bbddbb);
  background-image: -o-linear-gradient(#eeffcc, #bbddbb);
  background-image: linear-gradient(#eeffcc, #bbddbb);
  border: 1px solid #393;
}

/* line 130, ../../app/stylesheets/game-play.scss */
.inactive-player {
  background-color: #ccc;
  border: 1px solid #333;
}

/* line 134, ../../app/stylesheets/game-play.scss */
#me .player-info {
  background-color: #cef;
}

/* line 137, ../../app/stylesheets/game-play.scss */
#chat {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 3em;
  /*font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
}

/* GAME UI */
/* line 145, ../../app/stylesheets/game-play.scss */
#flip-btn {
  margin: 0 2em;
}

/* line 148, ../../app/stylesheets/game-play.scss */
.fat-btn {
  padding: 0.5em 4em;
  /*width: 12em;*/
  /*height: 2.2em;*/
}

/* DEFINITIONS */
/* line 155, ../../app/stylesheets/game-play.scss */
#definition {
  overflow: auto;
  height: 200px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 161, ../../app/stylesheets/game-play.scss */
#definition > div {
  margin: 5px;
  display: none;
}

/* line 165, ../../app/stylesheets/game-play.scss */
#definition .active-defn {
  display: block;
}

/* line 168, ../../app/stylesheets/game-play.scss */
.defn-headword {
  font-weight: bold;
  margin-right: 10px;
}

/* line 172, ../../app/stylesheets/game-play.scss */
.defn-pos {
  font-style: italic;
}

/* line 175, ../../app/stylesheets/game-play.scss */
.defn-list {
  margin-bottom: 0.5em;
}

/* line 178, ../../app/stylesheets/game-play.scss */
#next-defn, #prev-defn {
  /*font-size: 1.5em;*/
}

/* line 181, ../../app/stylesheets/game-play.scss */
.sectionhead {
  font-weight: bold;
  font-size: 1.2em;
}

/* INSTRUCTIONS, INVITE */
/* line 187, ../../app/stylesheets/game-play.scss */
#invite-url {
  width: 480px;
}

/* line 190, ../../app/stylesheets/game-play.scss */
.score-pfpic {
  float: left;
  margin: 0 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #666;
}

/* line 197, ../../app/stylesheets/game-play.scss */
ul.scorelist {
  padding: 0;
}

/* line 200, ../../app/stylesheets/game-play.scss */
ul.scorelist li {
  list-style-type: none;
  margin: 5px;
}

/*.scores-col {
  float: left; width: 370px;
}
#finalegame {
  margin: 20px 0px;
}
h2.rank {
  float: left;
  color: #999;
  width: 1em;
  text-align: right;
  margin-bottom: 0;
}
.disclaimer {color:#666; font-size: .8em;}*/
/* line 220, ../../app/stylesheets/game-play.scss */
#prompt-login {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 225, ../../app/stylesheets/game-play.scss */
#prompt-login > div {
  position: relative;
  width: 400px;
  margin-left: -200px;
  height: 350px;
  margin-top: -175px;
  background: #fff;
  border: 3px solid #ccc;
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  padding: 10px;
  z-index: 99;
}

/* http://webdesignerwall.com/tutorials/css3-gradient-buttons */
/* line 2, ../../app/stylesheets/buttons.scss */
.button {
  display: inline-block;
  zoom: 1;
  /* zoom and *display = ie7 hack for display:inline-block */
  *display: inline;
  vertical-align: baseline;
  margin: 0 2px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  /* gray */
  /* white */
}
/* line 18, ../../app/stylesheets/buttons.scss */
.button:hover:not([disabled]) {
  text-decoration: none;
}
/* line 21, ../../app/stylesheets/buttons.scss */
.button:active:not([disabled]) {
  position: relative;
  top: 1px;
}
/* line 26, ../../app/stylesheets/buttons.scss */
.button.bigrounded {
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  -o-border-radius: 2em;
  -ms-border-radius: 2em;
  -khtml-border-radius: 2em;
  border-radius: 2em;
}
/* line 29, ../../app/stylesheets/buttons.scss */
.button.medium {
  font-size: 12px;
  padding: .4em 1.5em .42em;
}
/* line 33, ../../app/stylesheets/buttons.scss */
.button.small {
  font-size: 11px;
  padding: .2em 1em .275em;
}
/* line 38, ../../app/stylesheets/buttons.scss */
.button.black {
  color: #fff;
  border: solid 1px #333;
  background: #333;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #666666), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#666666, #000000);
  background-image: -moz-linear-gradient(#666666, #000000);
  background-image: -o-linear-gradient(#666666, #000000);
  background-image: linear-gradient(#666666, #000000);
}
/* line 44, ../../app/stylesheets/buttons.scss */
.button.black:hover:not([disabled]) {
  background: #000;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(#444444, #000000);
  background-image: -moz-linear-gradient(#444444, #000000);
  background-image: -o-linear-gradient(#444444, #000000);
  background-image: linear-gradient(#444444, #000000);
}
/* line 48, ../../app/stylesheets/buttons.scss */
.button.black:active:not([disabled]) {
  color: #999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #444444));
  background-image: -webkit-linear-gradient(#000000, #444444);
  background-image: -moz-linear-gradient(#000000, #444444);
  background-image: -o-linear-gradient(#000000, #444444);
  background-image: linear-gradient(#000000, #444444);
}
/* line 52, ../../app/stylesheets/buttons.scss */
.button.black[disabled] {
  background: #888;
}
/* line 57, ../../app/stylesheets/buttons.scss */
.button.gray {
  color: #e9e9e9;
  border: solid 1px #555;
  background: #6e6e6e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #888888), color-stop(100%, #575757));
  background-image: -webkit-linear-gradient(#888888, #575757);
  background-image: -moz-linear-gradient(#888888, #575757);
  background-image: -o-linear-gradient(#888888, #575757);
  background-image: linear-gradient(#888888, #575757);
}
/* line 63, ../../app/stylesheets/buttons.scss */
.button.gray:hover {
  background: #616161;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #757575), color-stop(100%, #4b4b4b));
  background-image: -webkit-linear-gradient(#757575, #4b4b4b);
  background-image: -moz-linear-gradient(#757575, #4b4b4b);
  background-image: -o-linear-gradient(#757575, #4b4b4b);
  background-image: linear-gradient(#757575, #4b4b4b);
}
/* line 67, ../../app/stylesheets/buttons.scss */
.button.gray:active {
  color: #afafaf;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575757), color-stop(100%, #888888));
  background-image: -webkit-linear-gradient(#575757, #888888);
  background-image: -moz-linear-gradient(#575757, #888888);
  background-image: -o-linear-gradient(#575757, #888888);
  background-image: linear-gradient(#575757, #888888);
}
/* line 73, ../../app/stylesheets/buttons.scss */
.button.white {
  color: #606060;
  border: solid 1px #b7b7b7;
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -o-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
}
/* line 79, ../../app/stylesheets/buttons.scss */
.button.white:hover {
  background: #ededed;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
  background-image: -webkit-linear-gradient(#ffffff, #dcdcdc);
  background-image: -moz-linear-gradient(#ffffff, #dcdcdc);
  background-image: -o-linear-gradient(#ffffff, #dcdcdc);
  background-image: linear-gradient(#ffffff, #dcdcdc);
}
/* line 83, ../../app/stylesheets/buttons.scss */
.button.white:active {
  color: #999;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ededed), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ededed, #ffffff);
  background-image: -moz-linear-gradient(#ededed, #ffffff);
  background-image: -o-linear-gradient(#ededed, #ffffff);
  background-image: linear-gradient(#ededed, #ffffff);
}

/* http://files.droplr.com/files/38746080/kCOq.demo.html */
/* alternatives:
http://forrst.com/posts/Simple_pure_CSS_tooltip_with_arrow-BkY
*/
/* line 6, ../../app/stylesheets/tooltips.scss */
.tooltip {
  /*text-decoration: underline;*/
  /*border-bottom: 1px solid black;*/
  margin-bottom: -1px;
  z-index: 1;
  position: relative;
}

/* line 13, ../../app/stylesheets/tooltips.scss */
.tooltip::before {
  content: ".";
  line-height: 0;
  color: transparent;
  font-size: 0;
  display: none;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #333;
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 50%;
  margin-left: -5px;
  font-size: 12px;
}

/* line 30, ../../app/stylesheets/tooltips.scss */
.tooltip span {
  /*content: attr(data-tooltip);*/
  /*display: none;*/
  opacity: 0;
  position: absolute;
  left: 0px;
  right: 0px;
  padding: 0 2px;
  min-height: 20px;
  line-height: 20px;
  z-index: 0;
  font-size: 12px;
  color: white;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(black));
  background: -moz-linear-gradient(top, #333333, black);
  /*font-family: "Puritan", sans-serif;*/
  font-weight: normal;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin-top: 10px;
  top: 100%;
}

/* line 56, ../../app/stylesheets/tooltips.scss */
.tooltip.tooltip-shown span {
  opacity: 0.8;
  z-index: 2;
  display: block;
}

/* line 61, ../../app/stylesheets/tooltips.scss */
.tooltip.tooltip-shown::before {
  opacity: 0.8;
  display: block;
}

/* line 11, ../../app/stylesheets/s.scss */
body {
  background: url(/images/bg.png) repeat;
}

/* line 16, ../../app/stylesheets/s.scss */
h1, h2, h3, h4 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Permanent Marker', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* line 21, ../../app/stylesheets/s.scss */
#wrap {
  background: #fffcf6;
  width: 740px;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 5px;*/
}

/* line 31, ../../app/stylesheets/s.scss */
body.fbframe #wrap {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

/* line 37, ../../app/stylesheets/s.scss */
.left-col {
  width: 480px;
  margin-right: 10px;
  float: left;
}

/* line 42, ../../app/stylesheets/s.scss */
.right-col {
  width: 250px;
  float: left;
}
