.left-col {
  width: 500px;
  float: left;
}
.right-col {
  width: 250px;
  float: left;
}

.tagline {
  font-size: 0.75em;
}

/* TILES */
ul.tiles {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.tiles li {
  display: inline-block;
  width: 15px; height: 15px;
  margin: 1px;
  background-color: #ffe;
  /*border: 1px solid black;*/
  border: 1px solid #986;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
ul.tiles li.unseen {
  background-color: #eed;
}

/* MESSAGES */
#message-area {
  overflow: auto;
  height: 300px;
  width: 100%;
  border: 1px solid black;
}
#messages {
  list-style-type: none;
  margin: 3px;
  padding: 0;
}
#messages li {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-indent: -15px;
}
.failed {
  color: #444;
  font-style: italic;
}

/* PLAYERS */
ul.player-words {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.player-words>li {
  display: inline-block;
  margin: 2px 8px;
  padding: 0;
  /*border: 1px solid #ccc;*/
}
.highlighted {
  background-color: #fc9;
}
.highlighted ul.tiles li {
  background-color: transparent;
}
.player-info {
  width: 100%;
  background-color: #ccc;
  margin: 5px 0;
}
.active-player {
  background-color: #e0ffcc;
}
.inactive-player {
  background-color: #ccc;
}
#me .player-info {
  background-color: #cef;
}
#chat {
  width: 100%;
  height: 3em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* DEFINITIONS */
#definition {
  overflow: auto;
  height: 200px;
  width: 100%;
  border: 1px solid black;
}
#definition>div {
  margin: 5px;
  display: none;
}
#definition .active-defn {
  display: block;
}
.defn-headword {
  font-weight: bold;
  margin-right: 10px;
}
.defn-pos {
  font-style: italic;
}
.defn-list {
  margin-bottom: 0.5em;
}
#next-defn, #prev-defn {
  /*font-size: 1.5em;*/
}
.sectionhead {
  font-weight: bold;
  font-size: 1.2em;
}

/*.scores-col {
  float: left; width: 370px;
}
.score-pfpic {
  float: left;
  margin: 0 10px;
}
ul.scorelist {
  padding: 0;
}
ul.scorelist li {
  list-style-type: none;
  margin: 5px;
}
#finalegame {
  margin: 20px 0px;
}
h2.rank {
  float: left;
  color: #999;
  width: 1em;
  text-align: right;
  margin-bottom: 0;
}
.disclaimer {color:#666; font-size: .8em;}*/
