@import "compass";

/* PLAY */

body.game-over .game {
  background-color: #ddd;
}
.when-game-over {
  display: none;
}
body.game-over .when-game-over {
  display: inherit;
}

/* TILES */
ul.tiles {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.tiles li {
  display: inline-block;
  width: 17px; height: 17px;
  /*margin: 1px;*/
  background-color: #ffb;
  @include background-image(linear-gradient(#ffb, #cc8));
  border: 1px solid #986;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  @include border-radius(2px);
}
ul.tiles li.unseen {
  background-color: #eed;
  @include background-image(linear-gradient(#eed, #ccb));
}

/* MESSAGES */

#message-area, #chat, #claimword, #definition { /* All boxes */
  border: 1px solid #ccc;
  @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1) inset);
  //@include border-radius(5px);
  background: #fff;
}
#message-area {
  overflow: auto;
  height: 200px;
  width: 100%;
  @include box-sizing(border-box);
}
#messages {
  list-style-type: none;
  margin: 3px;
  padding: 0;
}
#messages li {
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-indent: -15px;
}
#messages li.failed {
  color: #944;
  font-style: italic;
}
#messages li.claimed {
  color: #000;
  background-color: #efd;
  @include background-image(linear-gradient(#efd, #bea));
}
#messages li.chat {
  color: #000;
  background-color: #ffffac;
  @include background-image(linear-gradient(#ffffac, #fff54d));
}

/* PLAYERS */
ul.player-words {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.player-words>li {
  display: inline-block;
  margin: 2px 8px;
  padding: 2px;
  /*border: 1px solid #ccc;*/
}
.highlighted {
  background-color: #fc9;
}
.highlighted ul.tiles li {
  background-color: transparent;
}
#pool {
  width: 100%;
  @include box-sizing(border-box);
  background-color: #ccc;
  margin: 5px 0;
  padding: 5px 0;
  @include border-radius(5px);
  background-color: #efc;
  @include background-image(linear-gradient(#efc, #bdb));
  border: 1px solid #393;
}
  #pool>div {
    padding: 10px;
  }
  #pool #pool-info {
    margin: 10px 10px 0 10px;
  }
.player-info {
  width: 100%;
  @include box-sizing(border-box);
  background-color: #ccc;
  margin: 5px 0;
  padding: 5px 0;
  @include border-radius(5px);
}
  .player-info .username {
    font-weight: bold;
  }
  .active-player {
    background-color: #efc;
    @include background-image(linear-gradient(#efc, #bdb));
    border: 1px solid #393;
  }
  .inactive-player {
    background-color: #ccc;
    border: 1px solid #333;
  }
  #me .player-info {
    background-color: #cef;
  }
#chat {
  width: 100%;
  @include box-sizing(border-box);
  height: 3em;
  /*font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
}

/* GAME UI */
#flip-btn {
  margin: 0 2em;
}
.fat-btn {
  padding: 0.5em 4em;
  /*width: 12em;*/
  /*height: 2.2em;*/
}

/* DEFINITIONS */
#definition {
  overflow: auto;
  height: 200px;
  width: 100%;
  @include box-sizing(border-box);
}
#definition>div {
  margin: 5px;
  display: none;
}
#definition .active-defn {
  display: block;
}
.defn-headword {
  font-weight: bold;
  margin-right: 10px;
}
.defn-pos {
  font-style: italic;
}
.defn-list {
  margin-bottom: 0.5em;
}
#next-defn, #prev-defn {
  /*font-size: 1.5em;*/
}
.sectionhead {
  font-weight: bold;
  font-size: 1.2em;
}

/* INSTRUCTIONS, INVITE */
#invite-url { width: 480px; }


.score-pfpic {
  float: left;
  margin: 0 10px;
  
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #666;
}
ul.scorelist {
  padding: 0;
}
ul.scorelist li {
  list-style-type: none;
  margin: 5px;
}

/*.scores-col {
  float: left; width: 370px;
}
#finalegame {
  margin: 20px 0px;
}
h2.rank {
  float: left;
  color: #999;
  width: 1em;
  text-align: right;
  margin-bottom: 0;
}
.disclaimer {color:#666; font-size: .8em;}*/

#prompt-login {
  position: absolute;
  top: 50%;
  left: 50%;

  &>div {
    position: relative;
    width: 400px;
    margin-left: -200px;
    height: 300px;
    margin-top: -150px;

    background: #fff;
    border: 3px solid #ccc;
    @include box-shadow(0px 0px 10px rgba(0,0,0, 0.8));
    padding: 10px;

    z-index: 99;
  }

}
