@import "compass/reset";

$blueprint-font-family: 'Nobile', 'Helvetica Neue', Arial, Helvetica, sans-serif;
@import "blueprint/typography";

@import "game-list";
@import "game-play";
@import "buttons";
@import "tooltips";

body {
  background: url(/images/bg.png) repeat;
  //font-family: ;
}

h1, h2, h3, h4 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Permanent Marker', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#wrap {
  background: #fffcf6;
  width: 740px;
  margin: 0 auto;
  padding: 10px 30px 30px 30px;

  border: 1px solid #ccc;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
  /*border-radius: 5px;*/
}
body.fbframe #wrap {
  margin: 10px 0;
  padding: 10px;
  border: none;
}

.left-col {
  width: 480px;
  margin-right: 10px;
  float: left;
}
.right-col {
  width: 250px;
  float: left;
}
